.List ul{
    background-color: white;
    color: black;
    font-size: 20px;
    margin-left: 7%;
    display: inline-block;
    width: 35%;
}

.right{
    margin-left:2%;
}

.left {
    float: left;
}

.List li a, .href {
    color: black;
    overflow: hidden;
    vertical-align: text-top;
}

    .List li a:hover, .href {
        background-color: white;
        color: aqua;
    }

.List li p {
    color: black;
    font-size: 20px;
}

.List li #TenTG {
    color: black;
    font-size: 15px;
    padding:3px;
}

.List li a#TenTG:hover {
    color: aqua;
}